body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure no overflow */
}

.header-section {
  background-color: #300266;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  flex-grow: 1;
  text-align: center;
}

.header-section img {
  height: 50px;
  margin-right: 20px;
  position: absolute;
  left: 20px;
}

.editor-viewport-container {
  flex: 1;
  display: flex;
  background-color: #f0f0f7;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  box-sizing: border-box;
}

.editor-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f7;
  border-bottom: 2px solid #ddd;
  z-index: 1;
}
.font-size-controls {
  display: flex;
  align-items: center;
}

.zoom-controls {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.editor-input {
  flex: 1;
  overflow-y: auto; /* Allow vertical scrolling */
  box-sizing: border-box;
}

.cm-scroller {
  overflow-y: auto !important;
}

.font-size-dropdown {
  margin-left: 10px;
  padding: 5px;
}
.zoom-button {
  margin-right: 10px;
  padding: 5px;
}

.diagram-viewport {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #ddd;
}

#mermaidDiagram {
  background-color: #ffffff;
  cursor: grab;
  width: 100%;
  height: 100%;
}

.action-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #300266;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

button.action-button {
  background-color: #ffffff;
  color: #300266;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.action-button:hover {
  background-color: #412399;
  color: #ffffff;
}
